<app-header></app-header>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Address</th>
        <th scope="col">Status</th>
        <th scope="col">Mob NO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Jackson</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td><button type="button" class="btn btn-primary btn-sm">Active</button></td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td><button type="button" class="btn btn-primary btn-sm">Active</button></td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td><button type="button" class="btn btn-secondary btn-sm">Inactive</button></td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td><button type="button" class="btn btn-primary btn-sm">Active</button></td>
       
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Larry</td>
        <td>Jackson1</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td><button type="button" class="btn btn-secondary btn-sm">Inactive</button></td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Larry</td>
        <td>Jackson</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td><button type="button" class="btn btn-primary btn-sm">Active</button></td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Larry</td>
        <td>Jackson</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td><button type="button" class="btn btn-primary btn-sm">Active</button></td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Michael</td>
        <td>the Bird</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td><button type="button" class="btn btn-secondary btn-sm">Inactive</button></td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Michael</td>
        <td>Panurkar</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td><button type="button" class="btn btn-primary btn-sm">Active</button></td>
        <td>9975025041</td>
      </tr>
      <tr>
         
        <th scope="row">10</th>
        <td>Larry</td>
        <td>Jackson</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td><button type="button" class="btn btn-primary btn-sm">Active</button></td>
        <td>9975025041</td>
      </tr>
      
    </tbody>
  </table>