<app-header></app-header>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Description</th>
        <th scope="col">Product Code</th>
        <th scope="col" >Quantity Available</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockList">
        <th scope="row">{{stock.id}}</th>
        <td><img src="{{stock.image}}" alt=""></td>
        <td>{{stock.title}}</td>
        <td>{{stock.price}}</td>
        <td>{{stock.description}}</td>
        <td>0124</td>
        <td  scope="row" [ngClass]="{'redClass': stock.quantity <= 40, 'yellowClass':  stock.quantity > 40}"><b>{{stock.quantity}}</b></td>
      </tr>
      <!-- <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Jackson1</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Jackson</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Jackson</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Michael</td>
        <td>the Bird</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td>9975025041</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Michael</td>
        <td>Panurkar</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td>9975025041</td>
      </tr>
      <tr>
         
        <th scope="row">3</th>
        <td>Larry</td>
        <td>Jackson</td>
        <td>Plot No. 145/146, Haldiram House, Bhandara Road Chowk, Old Pardi Naka, Surya Nagar, Nagpur, Maharashtra 440035</td>
        <td>9975025041</td>
      </tr>
       -->
    </tbody>
  </table>